.default {
  /* border: 1px solid; */
  text-align: center;
  /* margin-top: 0.5vh; */
  margin-bottom: 1vh;
}

.carousel {
  position: relative;
  /* 為了讓 .prev 和 .next 能使用 absolute 定位 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousrl img {
  /* width: 100%; */
  /* 垂直對齊目的:為了將圖片下方的預設留白區平均分配在上下的位置 */
  vertical-align: top;
}

.prev, .next {
  color: #fffffb;
  font-family: Arial, sans-serif;
  font-size: 32px;
  position: absolute;
  top: 50%;
  /* 垂直置中 */
  transform: translateY(-50%);
  /* 修正垂直位置 */
  z-index: 10;
  /* 提高按鈕的層次 */
  cursor: pointer;
  /* 顯示手型游標以提示可點擊 */
}

.prev {
  right: 300px;
  /* 靠左的距離 */
}

.next {
  left: 300px;
  /* 靠右的距離 */
}

.prev:hover, .next:hover {
  color: #999;
}

a {
  padding-top: 10px;
  text-decoration: none;
}