.info {
    /* border: 1px solid; */
    width: 100%;
    padding: 0 20vh;
}

.info strong{
    color: #4c4c4c;
}

.info p {
    /* width: 100%; */
    min-height: 70px;
    padding: 20px 15px 20px 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #4e65b5;
    border-bottom: 1px solid #ffc710;
    justify-content: flex-start;
}

.info a {
    padding: 20px 15px 20px 50px;
    color: #202020;
}