#logo img{
    border-bottom: thick double #ffc710;
    padding-top: 5px;
}
.header {
    /* border-bottom: 2px solid #425599; */
    background-color: #202020;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    position:sticky;
	top:0;
}
.header ul{
    border-bottom: 1px solid #ffc710;
    display: flex;
}
.header li {
    list-style: none;
}
.header a {
    /* background-color: #4c4c4c; */
    text-align: center;
    text-decoration: none;
    display: block;
    color: #fffffb;
    width: 120px;
    line-height: 35px;
    padding-top: 5px;
    transition: 0.3s;
    cursor: pointer;
}
.header ul ul {
    border-top: 2px solid #ffc710;
    border-bottom: 2px solid #ffc710;
    position: absolute;
    display: none;
    margin-top: 0.5px;
    z-index: 100;
    background-color: #303030;
}
.header li li {
    display: flex;
    flex-direction: column;
}
.header li:hover ul {
    display: block;
}
.header a:hover {
    color: #F9BF45;
}
#Instagram:hover{
    color: hotpink;
}
#Facebook:hover{
    color: royalblue
}
#Youtube:hover{
    color: red
}